*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    
}

header{
    background-image: url(src/header-bg.jpg);
    background-size: cover;
    height:700px;
    background-position: 25% 55%;
}
.header{
    width: 100%;
    height: 110px;
    display: block;
    display: flex;
    align-items: center;
}

.inner-header{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: block;
}

.logo-container{
    padding-top: 40px;
    height: 100%;
    display: table;
    float: left;
    font-size: 30px;
    font-weight: 700;
}


.navigation{
    float: right;
    height: 100%;
    
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
    text-decoration: none;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-size: 16px;
    color: black;
    transition: 0.5s;
    
}
ul:hover li{
    filter: blur(5px);
}
ul li:hover{
    filter: blur(0px);
}
.big-heading{
    position: absolute;
    width: 450px;
    left: 265px;
    top: 200px;
    font-size: 35px;
}
.big-heading:hover{
  color: #007bb5;
  font-size: 45px;
}
main{
    height: 500px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

}
.main{
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    
    
}
.main-left{
    height: 100%;
    width: 70%;
    
}

.main-right{
    height: 100%;
    width: 100%;
    padding: 50px 30px;
    
}
.main-image{
    height:400px;
    width: 100%;
}
.workstation{
    background-color: rgb(235, 234, 245);
}
.workstation h1{
    position: absolute;
    left: 110px;
    padding-top: 30px;
}
.my-work{
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    
    
}
.my-work div{
    background-color: aliceblue;
    height: 400px;
    width: 300px;
    margin-left: 100px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px rgb(194, 190, 190);
    padding: 20px 30px;

}
.my-work div:hover{
    background-color: rgb(0, 149, 255);
    margin-bottom: 30px;
}

footer{
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.footer-left{
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.footer-right{
    padding-top: 50px;
    height: 100%;
}
.footer-right form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-right: 40px;
}
.footer-right form input{
    height: 38px;
    width: 100%;
}
.footer-right form button{
    width: 100px;
    background-color: #55acee;
    border-radius: 12px;
    border: none;
    height: 38px;
    
}
.footer-right form .message-text{
    height:100px ;
}

/*icons*/
body {
    background: #D0D8DB;
    padding-top: 60px;
    padding-bottom: 40px;
}

textarea {
    resize: none;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}



.svg-inline--fa {
  vertical-align: -0.200em;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}